// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  margin-top: 80px;
  .profile-content {
    height: calc( 1.3em * 7 );
    line-height: 1.3;
    margin-bottom: 40px;
  }
}


